<div class="row">
    <div class="col-6 text-center align-middle">
        <h3 class="text-white align-middle" >Burgers Available</h3>

            {{#each burgers}}
                {{#unless this.devoured}}

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{this.burger_name}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Unique Burger Id: {{this.id}}</h6>
                            <form action="update/{{this.id}}" method="POST">
                                <button type="submit" class="btn btn-warning">DEVOUR IT!</button>
                            </form>
                        </div>
                    </div>
                {{/unless}}
            {{/each}}
        
    </div>

    <div class="col-6 text-center">
    <h3 class="text-white">Burgers Eaten</h3>
        
            {{#each burgers}}
                {{#if this.devoured}}
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{this.burger_name}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Unique Burger Id: {{this.id}}</h6>
                        </div>
                    </div>
                {{/if}}
            {{/each}}
        
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <h3 class="text-white">Add New Burger</h3>

        <form action="/create" method="POST">
            <div class="form-group">
                <input type="text" name="burger_name" placeholder="Add new burger here" class="form-control">
            </div>
            <button type="submit" class="btn btn-warning">Add The Burger</button>
        </form>
    </div>
</div>
